.theme_item {
}

.light {
    background: #15d798;
    width: 150px;
    font-size: 20px;
    border-radius: 4px;
    padding: 6px 20px;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.dark {
    background: #e06666;
    width: 150px;
    font-size: 20px;
    border-radius: 4px;
    padding: 6px 20px;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}