.buttons {
    margin: var(--spacing-small);
}

.button {
    cursor: pointer;
    padding: 10px 20px;
    font-size: 18px;
    margin: 5px;
}

.container {
    display: flex;
    justify-content: center;
}